<div {{{class 'sources-toolbar hide'}}}>
	<div {{{class 'toolbar-content'}}}>
		<div {{{class 'sources-tab'}}}>
			<div {{{class 'tab-item view-json'}}} data-format="json">Json</div>
			<div {{{class 'tab-item view-raw'}}} data-format="raw">Text</div>
			<div {{{class 'size'}}}></div>
		</div>
		<div {{{class 'sources-btns'}}}>
			<div {{{class 'btn edit'}}}>
				<span {{{class 'icon-edit'}}}></span>
			</div>
			<div {{{class 'btn copy'}}}>
				<span {{{class 'icon-copy'}}}></span>
			</div>
		</div>
	</div>
	<div {{{class 'sources-type'}}}></div>
</div>
<ul {{{class 'json'}}}></ul>
<div {{{class 'raw-value hide'}}}></div>
<div {{{class 'value-input hide'}}}>
    <div {{{class 'buttons'}}}>
      <div {{{class 'button cancel'}}}>Cancel</div>
      <div {{{class 'button update'}}}>Update</div>
    </div>
    <textarea placeholder="value"></textarea>
</div>